table {
  table-layout: fixed;
}

thead td {
  border: none;
  text-align: left;
  font-size: 20px;
  border: 1px solid #eee;
}

pre {
  border: none;
  padding-left: none !important;
}

tr:nth-child(even) {
  background: #F0F0F5;
}

td {
  border: 1px solid #eee;
  font-size: 16px;
  padding: 8px;
  white-space: nowrap;
}

.pusher {
  margin-bottom: 20px;
}
